.scaffolding-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  padding: 20px; /* Adjust padding as needed */
  max-width: 1200px; /* Ensure it matches the card container width */
  margin: 0 auto; /* Center align the header */
  text-align: left; /* Align the text to the left */
}


.projects-tag {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tag-line {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: red;
  margin-right: 8px;
}

.projects-label {
  color: red;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.2;
}
